/* .css-15fwrin:last-child {
  border-right: solid 1px #2c2e35;
} */
#grid-container .grid-item:last-child {
  border-right: none;
}

#grid-container .grid-item img {
  height: 80%;
}

@media only screen and (max-width: 1279px) {
  #grid-container .grid-item:nth-child(3n) {
    border-right: none;
  }

  #grid-container .grid-item:nth-last-child(-n + 3) {
    border-bottom: none;
  }
}

@media only screen and (max-width: 479px) {
  #grid-container .grid-item:nth-child(3n) {
    border-right: unset;
  }

  #grid-container .grid-item:nth-last-child(3) {
    border-bottom: solid 1px #2c2e35;
  }

  #grid-container .grid-item:nth-last-child(-n + 2) {
    border-bottom: unset;
  }

  #grid-container .grid-item:nth-child(odd) {
    border-left: none;
    border-right: none;
  }

  #grid-container .grid-item:nth-child(even) {
    border-right: none;
    border-bottom: solid 1px #2c2e35;
  }
}
