.child ul {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.child li {
  padding: 16px 22px;
  height: inherit;
  list-style: none;
}

.child li:nth-child(odd) {
  background-color: #d7e8ec;
}

.child li:nth-child(even) {
  background-color: #ebf3f5;
}

.content-container ol,
.form-container ul {
  margin-left: 20px;
}

.forms input,
.forms textarea {
  width: 100%;
  line-height: 26px;
}

.forms input::placeholder,
.forms textarea::placeholder {
  font: 13px/3 sans-serif;
}

.forms .btn {
  padding: 10px 20px;
  font-size: 20px;
  width: auto;
}

@media screen and (max-width: 1279px) {
  .forms {
    width: 95%;
    margin: auto;
  }
}
